/* Start Variables */
:root {
        /* Colors */

--White: hsl(0, 0%, 100%);

--Stone-100: hsl(30, 54%, 90%);
--Stone-150: hsl(30, 18%, 87%);
--Stone-600: hsl(30, 10%, 34%);
--Stone-900: hsl(24, 5%, 18%);
--Brown-800: hsl(14, 45%, 36%);
--Rose-800: hsl(332, 51%, 32%);
--Rose-50: hsl(330, 100%, 98%);

        /* Typography */

    /* Body Copy */

--size-paragraph: 16px;
--padding: 100px;
--margin: 30px
}
/* End Variables */
/* Start frameworks */
.border-top {
    border-top: 1px solid var(--Stone-150);
    padding-top: 20px
}
.margin-section {
    margin-bottom: 30px
}
/* End frameworks */
/* Start Fonts */
@font-face {
    font-family: 'Outfit Black';
    src: url(fonts/outfit/static/Outfit-Regular.ttf) format(truetype);
    font-weight: 400
}
@font-face {
    font-family: 'Outfit Black';
    src: url(fonts/outfit/static/Outfit-SemiBold.ttf) format(truetype);
    font-weight: 600
}
@font-face {
    font-family: 'Outfit Black';
    src: url(fonts/outfit/static/Outfit-Bold.ttf) format(truetype);
    font-weight: 700
}
@font-face {
    font-family: 'young serif';
    src: url(fonts/young-serif/YoungSerif-Regular.ttf) format(truetype);
    font-weight: 400
}
/* End Fonts */
/* Start global rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    background-color: var(--Stone-100);
    font-family: 'Outfit Black', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--padding);
    padding-bottom: var(--padding)
}
@media (max-width: 375px) {
    body {
        padding: 0
    }
}
h1, h2 {
    font-family: 'young serif';
    font-weight: 400;
    text-transform: capitalize
}
h1 {
    margin-bottom: 15px;
    color: var(--Stone-900)
}
h2 {
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--Brown-800)
}
p, li {
    font-size: var(--size-paragraph);
    width: 98%;
    color: var(--Stone-600)
}
td {
    color: var(--Stone-600)
}
ul, ol {
    list-style-type: square;
    list-style-position:inside
}
ol {
    list-style-type: decimal;
}
ol li::marker {
    font-weight: 700;
}
ul li::marker {
    font-size: 13px;
}
li {
    margin-bottom: 13px;
    text-indent: calc(-1em - 15px);
    padding-left: calc(1.5em + 15px);
    display: list-item
}
li::marker {
    color: var(--Brown-800);
}
li::before {
    content:'';
    padding-left: 15px
}
/* Start global rules */
/* Start main */
main {
    background-color: var(--White);
    padding: 30px;
    border-radius: 20px;
    flex-basis: 700px
}
@media (max-width: 375px) {
    main {
        border-radius: 0;
        padding-top: 0
    }
}
main .image {
    display: flex;
    justify-content: center;
    margin-bottom: 25px
}
main .image img {
    max-width: 100%;
    border-radius: 5px
}
@media (max-width: 375px) {
    main .image img {
        max-width: calc(100% + 60px);
        border-radius: 0
    }
}
main .preparation {
    background-color: var(--Rose-50);
    padding: 20px 30px;
    border-radius: 10px;
}
main .preparation h2 {
    font-family: 'Outfit Black';
    font-weight: 600;
    text-transform: none;
    color: var(--Rose-800);
    font-size: 18px
}
main .preparation li::marker {
    color: var(--Rose-800);
}
main .nutrition table {
    width: 100%;
    margin-top: 12px;
    margin-bottom: -15px;
    border-spacing: 0px 15px;
}
main .nutrition table td {
    text-transform: capitalize;
    border-bottom: 1px solid var(--Stone-150);
    padding-bottom: 15px;
    padding-left: 30px 
}
main .nutrition table tr:last-child td {
    border: none
}
main .nutrition table td:last-child {
    color: var(--Brown-800)
}

/* End main */